body {
    font-family: 'Montserrat', sans-serif;
    
    background-color: #F5F7FA;
}

/* Main styles */
.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

/* main-content styles */
.main-content {
background-color: #FFFFFF;
box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
padding: 50px 90px;
}

/* about styles */
.about {
 margin-bottom: 40px;   
}

/* about-position style */
.about-position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;

}

/* about-name style*/
.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;

}

/* about-description */
.about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* project styles */
.project {
  margin-bottom: 50px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;    

}

/* projects-list */
.projects-list {
    padding: 0px;
    margin-left: 15px;
}

/* project-item */
.project-item {
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #000000;
}

/* project-text, project-link */
.project-text, .project-link {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959;
}
.project-link {
    margin-left: 10px;
}


/* project-bracket */
.project-bracket {
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #000000;

}

/* work styles */

/* work-position */
.work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

/* work-organization */
.work-organization {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

/* work-date, education-bracket */
.work-date, .education-date {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

/* work-bracket, education-bracket */
.work-bracket, .education-bracket {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

/* work-list */
.work-list {
    padding-left: 0px;
    margin-left: 15px;
    margin-bottom: 20px;
}

/* work-list-item */
.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* university */
.university {
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #FB6D3A;
margin-bottom: 10px;
}


/* faculity */
.faculity {
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;
margin-bottom: 10px;
}

/* Sidebar styles */
.sidebar {
background-color: #1E2939;
padding-top: 40px;
width: 370px;
}

/* photo styles*/
.photo {
    width: 370px;
    margin-bottom: 50px;
}

/* sidebar-title styles */
.sidebar-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

/* contacts style*/
.contacts, .tech-skills, .soft-skills {
    margin-left: 40px;
    }

.contacts {
    margin-bottom: 50px;
}

.tech-skills {
    margin-bottom: 45px;
}

/* contact-type style*/
.contact-type {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding-right: 10px;
}

/* contact-link style */
.contact-link {
color: #727983;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

/* tech-skills-list, soft-skills-list  */
.tech-skills-list, .soft-skills-list {
color: #FFFFFF;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
padding: 0px;
margin-left: 15px;
}

/* tech-skills-text, soft-skills-text */
.tech-skills-text, .soft-skills-text {
color: #FFFFFF;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}

/* tech-skills-item, soft-skills-item */
.tech-skills-item, .soft-skills-item {
  color:#FB6D3A;  
}